#container{
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}
h1{
    text-align: center;
}
#org{
    /* flex-basis: 50px; */
    /* flex-grow: 1;
    min-width: 200px; */
    /* flex-shrink: 1; */
    flex: 2 2 100px;  /* grow/shrink/basis */
}
#green{
     /* flex-basis: 600px; */
     flex-grow: 2;
     /* max-width: 400px; */
     /* min-width: 400px; */
     /* flex-shrink: 1; */
}
   

#container div{
    height: 100px;
    width: 30px;
    color: white;
    text-align: center;
    font-size: 1em;
}